

@font-face {
    font-family: pt_sans_narrow;
    src: url(../fonts/ptsansnarrow.ttf);
   }

@font-face {
    font-family: bienetre;
    src: url(../fonts/Bienetresocial.ttf);
   }
   
@font-face {
    font-family: pt_sans;
    src: url(../fonts/ptsans.ttf);
   }
.header {
background-image: url('../img/header_background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
background-size: cover;
position: relative;
	margin: 0 auto;
}

p { margin:0 }

.text1 {
	font-size:16px;
font-family:pt_sans;
word-wrap: break-word;
line-height:1.5em;
}

	.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
  
	.col-xs-1-5 {
		max-width:410px;
	}
	
    footer {

      background-color: #f2f2f2;
      padding: 25px;
    }

.top80i { padding-bottom:120px; }
.top10 { margin-top:10px; }
.top15 { 
padding-top:25px;
padding-bottom:25px; }
.top27 { margin-top:27px; }
.top20 { margin-top:20px; }
.top80 { margin-top:80px; }

.choose {
	font-size:25px;
font-family:pt_sans_narrow;
font-weight: bold;
color:#a62300;
text-decoration: none;
}

.title1 {
font-size:26px;
font-family:bienetre;
underline:none;
}

.title2 {
	font-size:13px;
font-family:pt_sans;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

button {
  background-color: #a62300;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  border-radius: 10px;
			font-size:26px;
font-family:pt_sans_narrow;
font-weight: bold;
max-width:160px;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #4CAF50;
}

tr.active {
    background-color: #FFC;
}

.pre_table {
	margin-top:20px;
	border-bottom: 2px solid #ffe756;
}
.pre_title {
	font-size:17px;
	display:inline-block;
	font-family:bienetre;
	font-weight: bold;
	margin-left: 2%;
	margin-top:5px;
	 -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.pre_page {
	font-size:20px;
	display:inline-block;
	float:right;
	margin-right: 2%;
	font-family:pt_sans_narrow;
	 -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.control {
    display: block;
    position: relative;
}

.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #E6E6E6;
    border: 1px solid #b3b3b3;
}
.control-radio .control_indicator {
    border-radius: 5%;
}


.control input:checked ~ .control_indicator {
    background: #fff6bf;
	border: 1px solid #f0ce00;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;

}
.control-checkbox .control_indicator:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 7px;
    border: solid #3f2916;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
	
}

.story2 {
		font-size:14px;
font-family:pt_sans;
}

.story1 {
		font-size:14px;
font-family:pt_sans;
font-weight: bold;
}



.highlight {
    background-color: rgb(255, 253, 239);
}


table {
    border-collapse:collapse;
	width:100%
}

td {
	padding:10px;
}

.tabs {
	margin-top:70px;
	border-bottom: 1.5px solid #ffe756;
}

.check {
	border-top: 1px solid #fff8cd
}

.nextBtn {
	border-radius: 10px;
			font-size:26px;
font-family:pt_sans_narrow;
font-weight: bold;
}

#prevBtn:disabled {
  background-color: #b1b1b1;
  color: #e2e2e2;
}
 
 .col-xs-2-5 {
		max-width:410px;
	}
 
 
 #lower {

	 		font-size:16px;
font-family:pt_sans;
	 padding-right:5%;
	 padding-bottom:12%;
	 display:inline
 }

 .close {
 float:reght;
 }
 
 .no-gutter > [class*='col-'] {
         padding-right:0;
         padding-left:0;
         }
         .col-xs-1-5 {
         max-width:410px;
         }
         footer {
         background-color: #f2f2f2;
         padding: 25px;
         }
 
 #beatif {
	 font-size:16px;
	 display:inline;
	 font-family:pt_sans;
	 font-weight: bold;
color:#a62300;
text-decoration: underline;
 }
 
 .text3 {
	 padding-right:40px;
 }
 
@media only screen and (max-width: 990px) {
	.text3 {
	
	 padding-left:20px;
 }
}
 
.footer {

    background: #3b3530;
}


.sentec1 {
	color:#ffe756;
	text-decoration: underline;
	font-family:pt_sans;
	display:inline;
	font-size:13px;
	cursor:pointer;
	
}

.sentec2 {
	color:#ffffff;
	font-family:pt_sans;
	display:inline;
	font-size:13px;

}


ul {
  list-style-type: none;
  padding-left:0;
}

li {
	padding-top: 7px;
}

.pop_text {
	display: inline-block;
    vertical-align: top;
	float:left;
}